Node-redFlow.json
[{"id":"b8e3490b.7693f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ced5a8a.82ed38","type":"function","z":"b8e3490b.7693f8","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey=\"T63MQTKuUWSuUX8lQ9zTzGN3BWosrH0514USBDOgEPxR\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":238,"y":110,"wires":[["7f2eac61.3c8d54"]]},{"id":"e6eef4a.2e6eb08","type":"http request","z":"b8e3490b.7693f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e305c359-0628-4702-b802-5d65f25d6353/deployments/9c3f28f8-8c9f-4693-9e8d-6f3b40c39e55/online","tls":"","persist":false,"proxy":"","authType":"","x":488,"y":190,"wires":[["b285f6d9.0072d8","d0b20aa4.934a38"]]},{"id":"d0b20aa4.934a38","type":"function","z":"b8e3490b.7693f8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":290,"wires":[["f2af20e0.fc2e7"]]},{"id":"b285f6d9.0072d8","type":"debug","z":"b8e3490b.7693f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":728,"y":190,"wires":[]},{"id":"fdf6a33f.84e64","type":"function","z":"b8e3490b.7693f8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"e305c359-0628-4702-b802-5d65f25d6353\"\nmsg.headers = {'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token, \"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\n\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Status\",\n\"Adult Mortality\",\"Infant Deaths\",\"Alcohol\",\"Percentage Expenditure\",\n\"Hepatitis B\",\"Measles\",\"BMI\",\"Under-Five Deaths\",\n\"Polio\",\"Total Expenditure\",\"Diphtheria\",\"HIV/AIDS\",\n\"GDP\",\"Population\",\"Thinness  1-19 years\",\"Thinness 5-9 years\",\n\"Income Composition of Resources\",\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":228,"y":190,"wires":[["e6eef4a.2e6eb08"]]},{"id":"7f2eac61.3c8d54","type":"http request","z":"b8e3490b.7693f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":388,"y":110,"wires":[["fdf6a33f.84e64"]]},{"id":"f2af20e0.fc2e7","type":"ui_text","z":"b8e3490b.7693f8","group":"eff75d76.424df","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":738,"y":410,"wires":[]},{"id":"584a01ac.3f4da","type":"ui_form","z":"b8e3490b.7693f8","name":"","label":"","group":"eff75d76.424df","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status(0 if Deceloping 1 if Developed)","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":120,"wires":[["8ced5a8a.82ed38"]]},{"id":"eff75d76.424df","type":"ui_group","z":"","name":"Default","tab":"261d8e4c.a97f32","order":2,"disp":true,"width":"6","collapse":false},{"id":"261d8e4c.a97f32","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]